*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161616;
}

h1{
    text-align: center;
    color: white;
    margin-top: 20px;
}

.users{
    width: 90%;
    margin: auto;
    margin-right: 40px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.user-card{
    background-color: #ffffffdc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: start;
    width: 300px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;


    &:hover{
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 18px rgba(255, 255, 255, 0.699);
    }
}

.box{
    display: flex;
    align-items: center;
    gap: 10px;

    & div{
        display: flex;
        flex-direction: column;
    }
}

.user-card h2{
    margin-bottom: 10px;
}

.user-card p{
    margin-bottom: 5px;
}
.user-card img{
    border-radius: 50%;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
}

.btn{
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #ffffffdc;
    color: rgb(17, 17, 17);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px auto;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.loading{
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    color: #888;
    font-weight: bold;
    animation: blink 1s infinite;
}

@keyframes blink{
    0%{
        opacity: 0.4;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.4;
    }
}

@media (max-width: 1424px){
    .users{
        grid-template-columns: repeat(3, 1fr);
        margin-right: 0px;
    }
}


@media (max-width: 968px){
    .users{
        grid-template-columns: repeat(2, 1fr);
        margin-right: 0px;
    }
}

@media (max-width: 680px){
    .users{
        grid-template-columns: repeat(1, 1fr);
        margin-right: 0px;
    }
}